products/klaviyo-abandoned-cart-recovery-workflow-with-smart-discount-tiers/klaviyo-abandoned-cart-recovery-workflow-with-smart-discount-tiers.json
{
  "name": "Klaviyo Abandoned Cart Recovery with Smart Discount Tiers",
  "nodes": [
    {
      "id": "0",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      }
    },
    {
      "id": "1",
      "name": "Get Abandoned Carts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://YOUR_ECOMMERCE_PLATFORM.example.com/api/abandoned-carts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "notes": "CONFIGURE: Replace with your e-commerce platform API (Shopify, WooCommerce, etc). This should return carts abandoned in the last 2-24 hours with email, cart_value, items, abandoned_at timestamp."
    },
    {
      "id": "2",
      "name": "Filter Recent Carts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "const now = new Date();\nconst results = [];\n\nfor (const item of $input.all()) {\n  const abandonedAt = new Date(item.json.abandoned_at);\n  const hoursSince = (now - abandonedAt) / (1000 * 60 * 60);\n  \n  if (hoursSince >= 1 && hoursSince <= 24) {\n    results.push({\n      json: {\n        email: item.json.email,\n        cart_value: item.json.cart_value || 0,\n        items: item.json.items || [],\n        abandoned_at: item.json.abandoned_at,\n        hours_since: Math.floor(hoursSince)\n      }\n    });\n  }\n}\n\nreturn results;"
      }
    },
    {
      "id": "3",
      "name": "Calculate Discount Tier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const cartValue = item.json.cart_value;\n  const hoursSince = item.json.hours_since;\n  \n  let discountPercent = 0;\n  let tierName = '';\n  let urgency = '';\n  \n  if (hoursSince <= 3) {\n    if (cartValue >= 200) {\n      discountPercent = 15;\n      tierName = 'Premium Early';\n    } else if (cartValue >= 100) {\n      discountPercent = 10;\n      tierName = 'High Value Early';\n    } else {\n      discountPercent = 5;\n      tierName = 'Standard Early';\n    }\n    urgency = 'high';\n  } else if (hoursSince <= 12) {\n    if (cartValue >= 200) {\n      discountPercent = 20;\n      tierName = 'Premium Mid';\n    } else if (cartValue >= 100) {\n      discountPercent = 15;\n      tierName = 'High Value Mid';\n    } else {\n      discountPercent = 10;\n      tierName = 'Standard Mid';\n    }\n    urgency = 'medium';\n  } else {\n    if (cartValue >= 200) {\n      discountPercent = 25;\n      tierName = 'Premium Final';\n    } else if (cartValue >= 100) {\n      discountPercent = 20;\n      tierName = 'High Value Final';\n    } else {\n      discountPercent = 15;\n      tierName = 'Standard Final';\n    }\n    urgency = 'low';\n  }\n  \n  results.push({\n    json: {\n      ...item.json,\n      discount_percent: discountPercent,\n      discount_tier: tierName,\n      urgency_level: urgency,\n      discount_code: `CART${discountPercent}-${Date.now().toString().slice(-6)}`\n    }\n  });\n}\n\nreturn results;"
      },
      "notes": "Smart Tier Logic: 1-3hrs (5-15%), 3-12hrs (10-20%), 12-24hrs (15-25%) based on cart value thresholds of $100 and $200"
    },
    {
      "id": "4",
      "name": "Check Klaviyo Profile Exists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://a.klaviyo.com/api/profiles?filter=equals(email,\"{{ $json.email }}\")",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "revision",
              "value": "2024-10-15"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      }
    },
    {
      "id": "5",
      "name": "Profile Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.body.data.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "6",
      "name": "Create Klaviyo Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1560,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/profiles",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "revision",
              "value": "2024-10-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"type\": \"profile\",\n    \"attributes\": {\n      \"email\": \"{{ $('Calculate Discount Tier').item.json.email }}\"\n    }\n  }\n}",
        "options": {}
      }
    },
    {
      "id": "7",
      "name": "Merge Profile Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1780,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "email",
              "value": "={{ $('Calculate Discount Tier').item.json.email }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "cart_value",
              "value": "={{ $('Calculate Discount Tier').item.json.cart_value }}",
              "type": "number"
            },
            {
              "id": "3",
              "name": "discount_percent",
              "value": "={{ $('Calculate Discount Tier').item.json.discount_percent }}",
              "type": "number"
            },
            {
              "id": "4",
              "name": "discount_tier",
              "value": "={{ $('Calculate Discount Tier').item.json.discount_tier }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "discount_code",
              "value": "={{ $('Calculate Discount Tier').item.json.discount_code }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "urgency_level",
              "value": "={{ $('Calculate Discount Tier').item.json.urgency_level }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "hours_since",
              "value": "={{ $('Calculate Discount Tier').item.json.hours_since }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "8",
      "name": "Send Abandoned Cart Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2000,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "revision",
              "value": "2024-10-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"type\": \"event\",\n    \"attributes\": {\n      \"properties\": {\n        \"$value\": {{ $json.cart_value }},\n        \"discount_percent\": {{ $json.discount_percent }},\n        \"discount_code\": \"{{ $json.discount_code }}\",\n        \"discount_tier\": \"{{ $json.discount_tier }}\",\n        \"urgency_level\": \"{{ $json.urgency_level }}\",\n        \"hours_abandoned\": {{ $json.hours_since }}\n      },\n      \"metric\": {\n        \"data\": {\n          \"type\": \"metric\",\n          \"attributes\": {\n            \"name\": \"Abandoned Cart Recovery\"\n          }\n        }\n      },\n      \"profile\": {\n        \"data\": {\n          \"type\": \"profile\",\n          \"attributes\": {\n            \"email\": \"{{ $json.email }}\"\n          }\n        }\n      }\n    }\n  }\n}",
        "options": {}
      }
    },
    {
      "id": "9",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2220,
        300
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Abandoned Cart Recovery Log"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISO() }}",
            "email": "={{ $json.email }}",
            "cart_value": "={{ $json.cart_value }}",
            "discount_tier": "={{ $json.discount_tier }}",
            "discount_percent": "={{ $json.discount_percent }}",
            "discount_code": "={{ $json.discount_code }}",
            "urgency_level": "={{ $json.urgency_level }}",
            "hours_abandoned": "={{ $json.hours_since }}",
            "status": "=sent"
          }
        },
        "options": {}
      }
    },
    {
      "id": "10",
      "name": "Error Handler",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2220,
        520
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "error_message",
              "value": "={{ $json.error || 'Unknown error' }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "error_node",
              "value": "={{ $json.node }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "11",
      "name": "Log Error to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2440,
        520
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Abandoned Cart Recovery Log"
        },
        "sheetName": {
          "__rl": true,
          "value": "Errors",
          "mode": "list",
          "cachedResultName": "Errors"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "error_message": "={{ $json.error_message }}",
            "error_node": "={{ $json.error_node }}"
          }
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Abandoned Carts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Abandoned Carts": {
      "main": [
        [
          {
            "node": "Filter Recent Carts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Recent Carts": {
      "main": [
        [
          {
            "node": "Calculate Discount Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Discount Tier": {
      "main": [
        [
          {
            "node": "Check Klaviyo Profile Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Klaviyo Profile Exists": {
      "main": [
        [
          {
            "node": "Profile Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile Exists?": {
      "main": [
        [
          {
            "node": "Merge Profile Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Klaviyo Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Klaviyo Profile": {
      "main": [
        [
          {
            "node": "Merge Profile Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Profile Data": {
      "main": [
        [
          {
            "node": "Send Abandoned Cart Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Abandoned Cart Event": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Log Error to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "10"
  },
  "active": false,
  "staticData": null
}